<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <style></style>
</head>
<body>
    <h1>Kindly SIGN UP For Credentials else LOG-IN</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About Us</a></li>
            <li><a href="/">Contact</a></li>
        </ul>
    </nav>
    <div class="container">
        <form action="/" method="post" id="contact">
            <input type="text" name="name" id="name" placeholder="Enter your name">
            <input type="text" name="age" id="age" placeholder="Enter your age">
            <input type="text" name="gender" id="gender" placeholder="Enter your gender">
            <input type="email" name="email" id="email" placeholder="Enter your email">
            <textarea name="more" id="more" cols="30" rows="10" placeholder="More about you.."></textarea>
            <button class="btn">Submit</button>
        </form>
    </div>
</body>
</html>
